    <!-- Download Section -->
    <section id="details" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Details</h2>
                    
					 <p> The wedding ceremony will take place at the Church of the Nativity in Dubuque. The address for your GPS is 1225 Alta Vista St. Dubuque, Iowa. The ceremony will start promptly at 2:00 P.M. </p>

					 <p> From 5:00 through 11:00 P.M., the reception will be held at The Hotel Julien Dubuque, in the elegant Grande Ballroom on the second floor. This beautifully restored hotel can be found at 200 Main Street in Dubuque, just a 5 minute drive from the church. </p>

					 <p> Accommodations for out of town guests have been made at The Hotel Julien and the Holiday Inn Dubuque/Galena (450 Main Street, Dubuque). Both hotels are located on Main Street in Dubuque. Visit the Contacts page for more information. Rooms can be reserved under FitzPatrick/Johnson wedding. </p>
			
			<a href="#contact" class="btn btn-circle page-scroll">
			    <i class="fa fa-angle-double-down animated"></i>
            </a>
					
                </div>
            </div>
        </div>
    </section>
