    <!-- About Section -->
    <section id="ourstory" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2> Our Story </h2>
				
                <p>
					
				Maureen and Erik met at Dubuque Senior High School. After their freshmen year – where Erik only noticed Maureen because she was using one crutch after tearing her ACL, and Maureen only noticed Erik as the cute football player with a great nose – the two had seemingly every class together the next fall. Erik was getting ready to ask another girl to homecoming that year when one of his friends asked that girl before him, forcing Erik to find another date. He finally noticed a beautiful athlete sitting behind him and asked her to go with him to the dance. After attending a couple of parties together, Erik finally worked up the courage to ask Maureen out. She – way too enthusiastically – yelled YES! </p>
					
		<p> After making it through three years of high school they went their separate ways to colleges in different states. Before long, they were going to the same college and still dating. By their senior year at St. Ambrose University they had seriously discussed marriage. Erik promised to ask her to marry him after they each had graduated; then over the next break went home, designed, and ordered the ring. He asked her to marry him on New Year’s Eve, before the start of her last semester (a fact she has not forgotten). Obviously unable to resist her stunningly handsome boyfriend, she said yes. 
				
				</p>
                
            </div>
        </div>
    </section>
