    <!-- Registry Section -->
    <section id="registry" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
			                    <h2>Registry</h2>

				<p>
					<b>Dear friends and family,</b>
				</p>
				<p>
					We’ve registered…finally. After a few thousand trips to Younkers and BB&B (Bed Bath and Beyond) spent wandering through the gigantic stores and arguments over towels <i>(plush for the win)</i>, we actually have a list! By the end of our wish list creation marathon, we accumulated a good amount of items. If you notice something on our list that you have creatively learned to do without, please give us your feedback – we are still rookies.
				</p>
				<p>
					We love all of you deeply (except Jason Richter), and feel blessed that you would want to honor us with gifts as we begin our lives together.
				</p>
				<p>
					Having you here with us to celebrate means more to us than salad spinners or cheese knives, we promise! Whatever you gift, we’ll love and cherish.
				</p>
				<p>
					Visit our registry pages at <a href="http://www.younkers.com/GiftRegistryItemView?catalogId=10051&externalId=3910328&externalId=3910328&langId=-1&storeId=10001&krypto=mosC6Y9WRtlh5lzh9fmeM2jPsi4QXr5XfqH%2FFN2yKYvj1lQcuRPM1K2fGlvz5aCsFVBGebfsii%2FRiUq%2FpHm5DijLhrxerLDhTe08JVKjGEsxX0QohTDgb%2BBJ79gFbONsMQS5RO7HfTwH8SpMZvBjug%3D%3D">Younkers</a> (registry number 3910328) or <a href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=542208379&pwsurl=">Bed Bath and Beyond</a> (registry number 542208379). In addition to accessing the registry pages via these links, you can alternately search for our names; the wedding date; and our state (Iowa) on <a href="http://www.younkers.com">Younkers.com</a> or <a href="http://www.bedbathandbeyond.com">Bedbathandbeyond.com</a> to check out our gift registries. 
				</p>

            </div>
        </div>
		<div>
			<a href="#contact" class="btn btn-circle page-scroll">
			    <i class="fa fa-angle-double-down animated"></i>
            </a>
		</div>
    </section>
