    <!-- About Section -->
    <section id="rsvp" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2> répondez s'il vous plaît </h2>
				
                <p>  To RSVP, please complete <a href="http://goo.gl/forms/GqiYEUzjjw">this google survey</a> or respond by mailing the card sent with the invitation. Thank you in advance for the quick response.  </p>
  
  <!-- ><iframe src="https://docs.google.com/forms/d/1wFfr2yzM70P_-F_EgxtWpjMiVIWYlBMdCbHBfYkQQ44/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe> -->
  
            </div>
        </div>
    </section>
