    <!-- About Section -->
    <section id="theweddingday" class="content-section text-center">
        <div class="weddingday-section">
		
		<div class='container'>
            <div class="col-lg-8 col-lg-offset-2">
				
                <h2> The Wedding Day</h2>
                
		<p>Our ceremony takes place at the beautiful childhood church of the bride, the Church of the Nativity, in Dubuque. The ceremony will begin at 2:00 P.M.</p>
				
                <p>Following the ceremony guests may enjoy a cocktail hour at the Hotel Julien’s Grande Ballroom while the wedding party takes photos throughout Dubuque. </p>
				
                <p>The reception will start at approximately 6:00 P.M. when the wedding party arrives and is introduced. Dinner and dancing lasts until 11:00 P.M. at the Hotel Julien.</p>
				
		<p>Unplugged: At the request of the couple, please refrain from taking photos or using your phone inside the church during the ceremony. We promise our photographers will capture everything beautifully, and we would love for you to be truly present with us during this special moment. Feel free to break out the cameras (and hashtags!) once the ceremony is complete.</p>
                
			</div>
            </div>
		</div>
    </section>
