    <!-- About Section -->
<section id="weddingparty" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
			
<h2> The Wedding Party </h2>
			
			<div>	
<table style="width:100%">
  <tr>
    <td colspan="2"><b>The Bride's</b></th>
	<td colspan="2"><b>The Groom's</b></th>
  </tr>
  <tr><td> </td><td> </td><td> </td><td> </td></tr>
   <tr> 
	<td> Jessica Bousselot </td>
	<td> Maiden of Honor </td>
    <td> Kipp Johnson </td>
	<td> Best Man </td>
  </tr>
   <tr> 
	<td> Maurita FitzPatrick </td>
	<td> Bridesmaid </td>
    <td> Kevin FitzPatrick </td>
	<td> Groomsman </td>
  </tr>
   <tr> 
	<td> Allison Boyes </td>
	<td> Bridesmaid </td>
    <td> Evan Johnson </td>
	<td> Groomsman </td>
  </tr>
   <tr> 
	<td> Becky Hauge </td>
	<td> Bridesmaid </td>
    <td> Kyle Johnson </td>
	<td> Groomsman </td>
  </tr>
   <tr> 
	<td> Alex Shipley </td>
	<td> Bridesmaid </td>
    <td> Ryan Donelly </td>
	<td> Groomsman </td>
  </tr>
   <tr> 
	<td> Ali Houselog </td>
	<td> Bridesmaid </td>
    <td> Drew Gibson </td>
	<td> Groomsman </td>
  </tr>
   <tr> 
	<td> </td>
	<td> </td>
    <td> Jason Richter </td>
	<td> Usher </td>
  </tr>
   <tr> 
	<td> </td>
	<td> </td>
    <td> Andy Augustin </td>
	<td> Usher </td>
  </tr>
  
 </table>

		</div>

<br> </br> 
<br> </br> 
<p><b>Jessica Bousselot</b>: Jess and Maureen became great friends while at St. Ambrose University, where they bonded over their obnoxious humor and enjoyment of annoying the groom. </p>

<p><b>Maurita FitzPatrick</b>: Maurita is the newly minted, lovely sister-in-law to Maureen. Maureen enjoyed partaking in Maurita and Kevin’s June 2015 wedding. The two even share a nickname! </p>

<p><b>Allison Boyes</b>: Allison and Maureen met in high school where they were attracted to each other because of their vast differences in athletic abilitiy. Maureen was the Senior High School athlete of the year; Allison tried really hard sometimes. Allison eventually played multiple sports while in college, Maureen did not…</p>

<p><b>Becky Hauge</b>: While freshmen at Ambrose, Becky and Maureen instantly bonded while studying for their nursing exams over a shared obsession with Law & Order S.V.U. They have remained fantastic friends ever since.</p>

<p><b>Alex Shipley</b>: Maureen met Alex after their sophomore years at St. Ambrose. Alex, an incredible artist in her limited free time, transferred to St. Ambrose and quickly realized she was a taller, volleyball-playing version of Maureen. </p>

<p><b>Ali Houselog</b>: Ali and Maureen grew up neighbors on Wood Street in Dubuque, and are currently neighbors in North Liberty…Neighbors for life? </p>

<p><b>Kipp Johnson</b>: Kipp and Erik are without a doubt the cutest twins of Tom and Julie Johnson. Growing up they did everything together sports, reading, Legos, and everything else you could imagine. Though they finally stopped sharing a wall after their senior years in high school, they are still best friends and supportive of each other in every way. But seriously – NYC, Kipp? I can’t afford to visit there.</p>

<p><b>Kevin FitzPatrick</b>: Kevin is Maureen’s beautiful and caring brother. Erik and Kevin have a strong bond – each finding too much enjoyment in watching Maureen struggle with any task, though she rarely does because of her stunning beauty and amazing brain. </p>

<p><b>Evan Johnson</b>: Though he lives far away, Evan and Erik communicate constantly, and find much joy in sharing sarcastic political posts on Facebook and Skyping together to watch Iowa and Iowa State athletic events. Evan almost found himself removed from the wedding after the latest ISU victory over big brother. </p>

<p><b>Kyle Johnson</b>: Kyle and Erik enjoy spending time together with their dogs. Besides the dogs, they share a common bond from having moved each other into different apartments or houses multiple times.  </p>

<p><b>Ryan Donnelly</b>: Ryan and Erik met during their freshmen year at St. Ambrose, where they lived together as suitemates. They then spent the next next three years together and are literally the greatest friends you’ll ever meet. Maureen remains jealous of their relationship. #PalsForLife </p>

<p><b>Drew Gibson</b>: Drew and Erik grew up doing everything together with Kipp and their friend Brian. Drew and Kipp were constantly mistaken as twins, which annoyed Erik considerably as a child. Somehow the relationship persevered.</p>

<p><b>Jason Richter</b>: Jason and Erik met at St. Ambrose when Erik discarded a soft apple by throwing it and hitting Jason. Though he apologized endlessly, Jason never really forgave Erik. Thus Erik asked him to join the wedding party as an attempt at burying the apple…err hatchet.</p>

<p><b>Andy Augustin</b>: Andy and Erik met in elementary school and share common pastimes like enjoying the summer months too much and boating. Erik is also jealous Stine grew, like... 12 inches in high school while Erik grew just one.</p>

</div>
</div>
    </section>
